{% extends "base.html" %}  
<!DOCTYPE html>
<html lang="en">
  
    {% block content %}
    <body>
        <div class="container">
            <h1> Sign Up </h1>
            {% load crispy_forms_tags %}
            <form
            action="{% url 'create-user' %}"
            method="POST">
            {%csrf_token%}
            {{ form|crispy }}
             </form>

            <button 
            class="btn btn-dark"
            type="submit"
            >register</button>

           
            <h9> or </h9>
            <a class="nav-linl" href="{% url 'signin' %}">Sign in
          
            </a>
</div>
            {% endblock content %}
    </body>
    </html>
